h1 {
    /* background-color: gainsboro; */
    /* border-radius: 10px; */
    padding: 10px;
    margin: 10px;
}

/*The element that controls the attributes of the body of the html doc*/
body {
    font-family: Calibri, sans-serif;
    text-align: center;
    padding: 30px;
    font-size: 25px;
    margin: 0;
}
/*The element that contains all the subsequent div elements on the page*/
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    /* align-content: normal; */
    /* justify-items: normal; */
    /* justify-content: center; */
}

/*The element that controls the actual column's attributes*/
.column-container {
    background-color: #b0bac0;
    border-radius: 5px;
    width: 30%;
    align-self: center;
}
/*The element that houses each of the listed cities*/
.clickable-city-column {
    display: flex;
    flex-direction: column;
}

/*The element that controls the attributes of the clickable text of the column*/
.clickable-city-text {
    color: #21363d;
    text-decoration: none;
    /* margin: 3px 0; */
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/*The clickable text hover property that controls the color of the hover*/
.clickable-text:hover {
    background-color: #7f8d96;
    border-color: #7f8d96;
}

/*The parent element that displays both the weather element and the weather image*/
.weatherClass {
    display: grid;
    grid-template-areas:
    "weather daytwo daythree dayfour thursday friday saturday sunday"
    "weather daytwo daythree dayfour thursday friday saturday sunday"
    "weather wind astronomy pollen pollen pollen pollen pollen";
    grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr;
    border: 2px solid #070106;
    align-self: center;
    justify-self: center;
    /* width: 700px; */
    visibility: hidden;
}

/*The weather element that displays the city, temperature, weather, icon and the time/date*/
#weather {
    grid-area: weather;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    /* margin-top: 20px; */
    vertical-align: middle;
    border-radius: 5px;
    /* width: 60%; */
    /* padding: 10px; */
}

#weatherdetails {
    grid-area: weatherdetails;
    display: flex;
    /* flex-direction: column; */
    /* padding: 10px; */
    /* width: 35%; */
    /* height: 338px; */
}

/*The weather image element that displays the corresponding weather animation gif*/
#weatherimage {
    grid-area: weatherimage;
    display: flex;
    /* flex-direction: column; */
    /* padding: 10px; */
    /* width: 35%; */
    /* height: 338px; */
}

#weathertab {
    grid-area: weathertab;
    align-self: end;
    height: 100px;
    /* width: 300px; */
    background-color: rgb(37, 48, 48);
}

#daytwo {
    grid-area: daytwo;
}

#daythree {
    grid-area: daythree;
}

#dayfour {
    grid-area: dayfour;
}

#thursday {
    grid-area: thursday;
}

#friday {
    grid-area: friday;
}

#saturday {
    grid-area: saturday;
}

#sunday {
    grid-area: sunday;
}

#windtab {
    grid-area: wind;
    background-color: chartreuse;
}

#astronomytab {
    grid-area: astronomy;
    background-color: blueviolet;
}

#pollentab {
    grid-area: pollen;
    background-color: dodgerblue;
}

/*The element that allows the user to type in a city*/
#city {
    /* width: 12.40%; */
    background-color: #e6e2de;
    align-self: center;
}
/*The 'Get The Weather' button that fetches the weather for any entered city within the #city label*/
#button {
    align-self: center;
}

/* Spinner loader styles */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    border: 8px solid rgba(0,0,0,0.1);
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 1000;
}
.loader.hidden {
    display: none;
}
@keyframes spin {
    to { transform: translate(-50%, -50%) rotate(360deg); }
}