/* :root {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --link-color: #0066cc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #f0f0f0;
        --link-color: #66b3ff;
    }
} */
/*The element that controls the attributes of the body of the html doc*/
body {
    font-family: Calibri, sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    /* background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3;; */
}

/* a {
    color: var(--link-color);
} */

h1 {
    background-color: gainsboro;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

h2 {
    color: rgb(170, 180, 175);
}

h3 {
    color: rgb(170, 180, 175);
}

/*The element that controls the actual column's attributes*/
.clickable-text-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*The element that controls the attributes of the clickable text of the column*/
.clickable-text {
    width: 21.40%;
    color: #21363d;
    text-decoration: none;
    margin: 3px 0;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/*The clickable text hover property that controls the color of the hover*/
.clickable-text:hover {
    background-color: #7f8d96;
    border-color: #7f8d96;
}

#city {
    width: 12.40%;
}

#weather img {
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
}

/*The weather element that displays the city, temperature, weather, icon and the time/date*/
#weather {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
    border-radius: 5px;
}
/*The weather image element that displays the corresponding weather animation/gif*/
#weatherimage {
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
    border-radius: 5px;
    border: 2px solid black;
}

/*The child of the parent element that displays both the weather element and the weather image*/
.weatherChild {
    display: flex;
    /*flex-direction: row;*/
    /*align-items: center;*/
    justify-content: center;
    /*height: 100%;*/
    /*width: 100%;*/
    /*float: none;*/
}

#weatherClass {
    visibility: hidden;
}
