/*The element that controls the attributes of the body of the html doc*/
body {
    font-family: Calibri, sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.clickable-text-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*The element that controls the attributes of the clickable text of the column*/
.clickable-text {
    color: #008CBA;
    text-decoration: none;
    margin: 5px 0;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/*The clickable text hover property that controls the color of the hover*/
.clickable-text:hover {
    background-color: #7f8d96;
    border-color: #7f8d96;
}

#weather img {
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
}

/*The weather element that displays the city, temperature, weather, icon and the time/date*/
#weather {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
}

/*The child of the parent element that displays both the weather element and the weather image*/
.child {
    display: flex;
    /*flex-direction: row;*/
    /*align-items: center;*/
    justify-content: center;
    /*height: 100%;*/
    /*width: 100%;*/
    /*float: none;*/
}