body {
    font-family: Calibri, sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.clickable-text-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clickable-text {
    color: #008CBA;
    text-decoration: none;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.clickable-text:hover {
    background-color: #7f8d96;
    border-color: #7f8d96;
}

#weather img {
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
}